body{
    background-color: #fffaeb;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
}

a{
    color: brown;
}

a:hover{
    color: blue;
}

h1{
    color:black;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 550;
    letter-spacing: 0.05px;
    line-height: 38px;
    word-spacing: -0.1px;

    margin: 10px 0px 10px 0px;

    border-style: solid;
    border-width: 1px;
    padding: 5px;

    text-align: center;

    background-color: burlywood;
}


td{
    border-style: solid;
    border-width: 0.05em;
}

td{
    border-style: solid;
}

hr{
    height: 0px;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 10%;
}
