body{
    background-color: #111111;
    color: #d1d1d1;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

    

/****************************************** Hyperlink ******************************************/
a{
    color: #4fb8fe;
    text-decoration-line: none;
}
a:hover{
    color: #b5cea8;
    text-decoration-line: underline;
}
/****************************************** Hyperlink ******************************************/

img{
    pointer-events: none;
}
h1{
    color: #ffffff;
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    background-color: #161616;
}

td{
    border-style: solid;
    border-width: 0.05em;
}

hr{
    height: 0px;
    border-style: none;
    border-top-style: dotted;
    border-color: #d1d1d1;
    border-width: 5px;
    width: 10%;
}
/****************************************** Hero Animation ******************************************/




/****************************************** Green Button Styling ******************************************/
.bluebutton{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-color: #ffa530;
    border-radius: 50px;
    border-width: 2px;
    
    padding: 7px 15px;
    color: #ffa530;
    text-transform: unset;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
}

a.bluebutton:hover{
    color: #000000;
    background: #ffa530;
    text-decoration: none;
}
/****************************************** Green Button Styling ******************************************/




/****************************************** Green Button Styling ******************************************/
.greenbutton{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-color: #09ff00;
    border-radius: 50px;
    border-width: 2px;
    
    padding: 7px 15px;
    color: #09ff00;
    text-transform: unset;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
}

a.greenbutton:hover{
    color: #000000;
    background: #09ff00;
    text-decoration: none;
}
/****************************************** Green Button Styling ******************************************/