body{
    background-color: #1e1e1e;
    color: #e4e4e4;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}


/****************************************** Hyperlink ******************************************/
a{
    color: #4fb8fe;
    text-decoration-line: none;
}
a:hover{
    color: #b5cea8;
    text-decoration-line: underline;
}
/****************************************** Hyperlink ******************************************/


h1{
    color: #d1d1d1;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 550;
    letter-spacing: 0.05px;
    line-height: 50px;
    word-spacing: -0.1px;

    margin: 0;

    text-align: center;

    background-color: #161616;
}


td{
    border-style: solid;
    border-width: 0.05em;
}

hr{
    height: 0px;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 10%;
}
/****************************************** Hero Animation ******************************************/
.hero{
        animation: yourAnimation 1s forwards 0s ease-out;
}
@keyframes yourAnimation{
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
/****************************************** Hero Animation ******************************************/


/****************************************** Heading Animation ******************************************/
.heading{
    animation: yourAnimation2 1s forwards 0s ease-out;
}
@keyframes yourAnimation2{
    0%{
        transform: rotate(0) translateY(-20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
/****************************************** Heading Animation ******************************************/


/****************************************** Green Button Styling ******************************************/
.bluebutton{
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-color: #ffa530;
    border-radius: 50px;
    border-width: 2px;
    
    padding: 7px 15px;
    color: #ffa530;
    text-transform: unset
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
}

a.bluebutton:hover{
    color: #000000;
    background: #ffa530;
    box-shadow: 0 0 10px #ffa530, 0 0 20px #ffa530, 0 0 40px #ffa530;
    text-decoration: none;
}
/****************************************** Green Button Styling ******************************************/


/****************************************** Green Button Styling ******************************************/
.greenbutton{
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.244px;
    line-height: 20px;
    word-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-color: #09ff00;
    border-radius: 50px;
    border-width: 2px;
    
    padding: 7px 15px;
    color: #09ff00;
    text-transform: unset
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
}

a.greenbutton:hover{
    color: #000000;
    background: #09ff00;
    box-shadow: 0 0 10px #09ff00, 0 0 20px #09ff00, 0 0 40px #09ff00;
    text-decoration: none;
}
/****************************************** Green Button Styling ******************************************/
