@font-face{
    font-family: 'ST Pro';
    src: url(../fonts/ST-Pro.ttf);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

html, body{
    background-color: tomato;
    margin: 0;
    padding: 0;
}

.alertgreen{
    font-family: 'ST Pro';
    color: #155724;
    background-color: #D4EDDA;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}

