@font-face{
    font-family: 'ST Pro';
    src: url(fonts/ST-Pro.ttf);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

body{
    margin: 0;
}

.sucess{
    color: #155724;
    background-color: #D4EDDA;
    /* border-color: #c3e6cb; */

    /* position: relative; */
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;

    font-family: 'ST Pro';
}


