.SegoeUI{
    color: #155724;
    background-color: #D4EDDA;
    border-color: #c3e6cb;

    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    box-sizing: border-box;

    display: block;

    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.Roboto{
    color: #155724;
    background-color: #D4EDDA;
    border-color: #c3e6cb;

    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    box-sizing: border-box;

    display: block;

    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}