/* -------------------------------- Variables ------------------------------- */
html {
  --fonts: 'Roboto', sans-serif;
  --primary: #ffffff;
  --primary-dark: #e2e2e2;
  --secondary: #f0f0f0;
  --theme-1: #ffa200;
  --theme-2: #009dff;
  --button: #e4e4e4;
  --color: #212121;
  --radius: 10px;
  --border: 1px solid transparent;
  --border-light: 0.5px rgba(0, 0, 0, 0.12) solid;
  --shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

html[data-theme='dark'] {
  --primary: #212121;
  --primary-dark: #111111;
  --secondary: #333333;
  --theme-1: #ffa200;
  --button: #444444;
  --color: #f0f0f0;
  --shadow: none;
  --border-light: 0.5px rgba(255, 255, 255, 0.12) solid;
}

/* -------------------------------- Variables ------------------------------- */
/* ----------------------------- Default Values ----------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: var(--fonts);
  color: var(--color);
  text-decoration: none;
  font-weight: 400;
  line-height: 22px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer,
header,
main,
div,
nav,
section {
  display: block;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ----------------------------- Default Values ----------------------------- */
body {
  background-color: var(--secondary);
}

/* --------------------------------- Header --------------------------------- */
header {
  background-color: var(--primary);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 45px;
  border: var(--border);
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container img {
  display: block;
  max-height: 30px;
}

header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

header .container .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

header .container .navbar nav li {
  display: inline-block;
  margin: 0 15px;
}

header .container .navbar nav li:hover {
  color: var(--theme-1);
  cursor: pointer;
}

header .container .navbar .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  background-color: var(--button);
  height: 100%;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 20px;
  /* ------------------ Dark mode button ------------------ */
  /* Rounded sliders */
  /* ------------------ Dark mode button ------------------ */
}

header .container .navbar .mode p {
  font-size: 16px;
}

header .container .navbar .mode .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 6px;
}

header .container .navbar .mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header .container .navbar .mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

header .container .navbar .mode .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

header .container .navbar .mode input:checked + .slider {
  background-color: var(--theme-1);
}

header .container .navbar .mode input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

header .container .navbar .mode .slider.round {
  border-radius: 22px;
}

header .container .navbar .mode .slider.round:before {
  border-radius: 22px;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all 150ms !important;
  transition: all 150ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

/* --------------------------------- Header --------------------------------- */
/* --------------------------------- Footer --------------------------------- */
footer {
  background-color: var(--primary);
  border: var(--border);
  margin-top: 20px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  place-items: center;
}

footer .container img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-height: 30px;
}

/* --------------------------------- Footer --------------------------------- */
/* ------------------------------ Video-Player ------------------------------ */
.container .video-player {
  margin-right: -15px;
  margin-left: -15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64% 36%;
      grid-template-columns: 64% 36%;
  margin-top: 65px;
  margin-bottom: 20px;
  padding: 15px;
  background: var(--primary);
  border: var(--border);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.container .video-player .video-section {
  position: relative;
}

.container .video-player .video-section .video {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container .video-player .video-section .video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: var(--radius);
}

.container .video-player .video-section .video-title {
  min-height: 50px;
  padding-top: 15px;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
}

.container .video-player .playlist-section {
  position: relative;
  padding-left: 10px;
}

.container .video-player .playlist-section .playlist-title {
  height: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: var(--secondary);
  border-radius: var(--radius) var(--radius) 0 0;
}

.container .video-player .playlist-section .playlist-title .title {
  padding: 0 15px;
  font-size: 17px;
  line-height: 19px;
  text-align: center;
}

.container .video-player .playlist-section .playlist {
  position: absolute;
  height: calc(100% - 50px - 50px);
  overflow-y: scroll;
  width: calc(100% - 10px);
  border-radius: 0 0 var(--radius) var(--radius);
  background-color: var(--secondary);
}

.container .video-player .playlist-section .playlist .video-card {
  margin: 5px auto;
  width: calc(100% - 10px);
  background-color: var(--primary);
  border-radius: var(--radius);
}

.container .video-player .playlist-section .playlist .video-card .something {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 100px auto;
      grid-template-columns: 30px 100px auto;
  height: 56px;
}

.container .video-player .playlist-section .playlist .video-card .something .index {
  height: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.container .video-player .playlist-section .playlist .video-card .something .video-img {
  height: 100%;
  position: relative;
}

.container .video-player .playlist-section .playlist .video-card .something .video-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .video-player .playlist-section .playlist .video-card .something .remainder {
  padding-left: 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .video-player .playlist-section .playlist .video-card .something .remainder p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
  text-overflow: clip;
}

.container .video-player .playlist-section .playlist .video-card .something .remainder span {
  margin-top: 3px;
  font-size: 13px;
  line-height: 14px;
  color: var(--theme-2);
}

.container .video-player .playlist-section .playlist .video-card:hover {
  background-color: var(--secondary);
}

/* ------------------------------ Video-Player ------------------------------ */
/* --------------------------- Course Description --------------------------- */
.second-section .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.second-section .container .description {
  width: 64%;
  padding: 30px;
  background: var(--primary);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.second-section .container .description .infographic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-left: -3px;
}

.second-section .container .description .infographic span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  font-size: 15px;
}

.second-section .container .description .infographic span img {
  width: 19px;
  margin-right: 5px;
}

.second-section .container .description .infographic p {
  margin: 0 10px;
  font-size: 19px;
}

.second-section .container .description .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.second-section .container .description .element span {
  font-size: 16px;
  color: var(--theme-2);
  font-weight: 600;
}

.second-section .container .description .element p {
  margin-top: 5px;
  text-align: justify;
}

.second-section .container .suggested {
  margin-left: auto;
  width: calc(36% - 10px);
  padding: 10px;
  background: var(--primary);
  border-radius: var(--radius);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* --------------------------- Course Description --------------------------- */
/* ------------------------------ Media Queries ----------------------------- */
@media (max-width: 992px) {
  header .container .navbar nav {
    display: none;
  }
  footer {
    display: none;
  }
  .container .video-player {
    background: var(--secondary);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
  .container .video-player .video-section .video iframe {
    border-radius: 0;
  }
  .container .video-player .video-section .video-title {
    padding: 10px;
    background: var(--primary);
    margin-bottom: 10px;
    font-size: 14px;
  }
  .container .video-player .playlist-section {
    height: 300px;
    padding-left: 0;
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  .container .video-player .playlist-section .playlist-title {
    background: var(--primary-dark);
  }
  .container .video-player .playlist-section .playlist {
    height: calc(300px - 60px);
    background: var(--primary);
    width: 100%;
  }
  .container .video-player .playlist-section .playlist .title {
    font-size: 12px;
  }
  .second-section .container .description {
    width: calc(100% + 30px);
    padding: 15px;
  }
  .second-section .container .description h2 {
    font-size: 19px;
  }
  .second-section .container .description .infographic {
    margin-top: 2px;
  }
  .second-section .container .description .infographic span {
    font-size: 13px;
  }
  .second-section .container .description .infographic span img {
    width: 16px;
    margin-right: 2px;
  }
  .second-section .container .description .infographic p {
    margin: 0 5px;
  }
  .second-section .container .description .element p {
    font-size: 15px;
    line-height: 20px;
  }
  .second-section .container .suggested {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1570px;
  }
  .container .video-player {
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .second-section .container .description {
    width: 70%;
  }
  .second-section .container .suggested {
    width: calc(30% - 10px);
  }
}

/* ------------------------------ Media Queries ----------------------------- */
/*# sourceMappingURL=mtube.css.map */