*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    background-color: dimgray;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    margin: 1%;
}

.img-fluid {
    max-width: 100% ;
    height: auto;
}

.item:hover{
    margin: 0;
    transition: .05s ease-in-out;
}


@media (min-width:576px) {
    .container {
        max-width: 576px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 992px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1380px
    }
}

