*{
    margin: 0;
    padding: 0;
}

/* ===================================================== White sppace container =======*/
.container{
    max-width: 1200px;
    background-color: rgb(55, 242, 255);
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* ===================================================== White sppace container =======*/



/* ===================================================== Instagram Image Gallary =======*/
.item{
    margin: 1%;
}

.img-fluid {
    max-width: 100% ;
    height: auto;
}

.item:hover{
    margin: 0;
}

.item:hover .overlay {
    background-color: #000000;
}

.item:hover .img-fluid{
    display: block;
    opacity: 0.7;
    transition: 0.1s ;
}
/* ===================================================== Instagram Image Gallary =======*/




/* ===================================================== Media Quary for responsiveness =======*/
@media (min-width:576px) {
    .container {
        max-width: 576px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 992px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1200px) {
    .container {
        padding: 50px;
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1380px
    }
}
/* ===================================================== Media Quary for responsiveness =======*/
